<header>
    <title>Universe Store</title>
    <link rel="stylesheet" href="hearder.component.css">
    <div class="container">
        <a routerLink="/" class="logo">
            <!-- 插入圖片,之後自己回去create一個logo -->
            <img src='assets/images/logo.png'alt="Universe_Store">
        </a>
        <nav>
            <ul>
                <li class="menu-container">
                    <a routerLink="/Dashboard">Hi, KY!</a>
                    <div class="menu">
                        <a routerLink="/Profile">Profile</a>
                        <a routerLink="/Orders">Orders</a>
                    </div>
                </li>
                <li>
                    <a routerLink="/ShoppingCart">
                        Cart <span>3</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</header>